<html>
  <body style="background-image: url(/images/background3.jpeg);
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-size: 100% 100%;
                width: 100%;
                height: 100%;">
    <h1 style="text-align:center">关于我们</h1>
    <br>
    <br>
    <br>
    <h3 style="text-align:center;
    padding:100px;color:#212121;
    	">我们是专职帮助社会各界人士寻找工作，以及给予各类型公司发布工作的平台。在这里你可以寻找到一切你想要的工作，如果您是公司负责人，也可以在这里发布各类型合法性工作。</h3>
  </body>
</html>
